<% unless comment.archived? %>
<p>
    <strong>Comentarista:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comentario:</strong>
    <%= comment.body %>
  </p>
  <p>
    <%= link_to "Borrar comentario", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "¿Estás seguro/a?"
                } %>
  </p>
<% end %>